@charset "UTF-8";
/* style.saas */
/* Programmé par : Maxime Lacroix-Lemire */
/* Dernière Mise À  Jour :  2021/06/12 */
.p__1 {
  font-size: 2rem;
}

.p__2 {
  font-size: 4rem;
}

.p__3 {
  font-size: 6rem;
}

.p__4 {
  font-size: 8rem;
}

.p__5 {
  font-size: 10rem;
}

.p__6 {
  font-size: 12rem;
}
