@charset "UTF-8";
/* style.sass */
/* Programmé par : Maxime Lacroix-Lemire */
/* Dernière Mise À  Jour :  2021/06/05 */
.grosseur {
  background-repeat: no-repeat;
  height: 20%;
  width: 20%;
}

.bg-bleuPale {
  background-color: #9bd3fc;
}

.close {
  position: absolute;
  top: 0;
  right: 0;
  width: 2em;
  height: 2em;
}

.monBtn {
  margin-right: 10px;
  display: block;
  margin: auto;
  border: none;
}

.status {
  margin-left: 2%;
  margin-top: 2%;
}

body {
  margin-top: 1em;
  margin-left: 1em;
  margin-right: 1em;
}

body ul {
  margin-bottom: 0;
}

.cardBottom {
  padding-bottom: 2em;
}
